:root {
    --primary: #e99401;
    --black: #262626;
    --white: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  [class*="contenedor"], 
  main {
    width: min(95%, 120rem);
    margin: 3rem auto;
  }
  [class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
  }

  /** Heading **/

  .header {
     background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(/img/header.jpg);
     padding: 6rem 0;
     background-size: cover;
     background-position: center center ;
  }

  .header .logo {
    width: 25rem;

  }

  .barra {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 768px) {
    .barra {
      flex-direction: row; 
      justify-content: space-between;
    }
  }

  .header .navegacion {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
  }
  @media (min-width: 768px) {
    .header .navegacion {
      margin-top: 0;
    }
  }

  .header .navegacion a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4rem;
    padding: .5rem;
    transition-property: background-color;
    transition-duration: 300ms;
  }

  .header .navegacion a:hover {
    background-color: var(--primary);
  }